{% extends 'base.html' %}
{% block title %}
  Строевые записки
{% endblock %}
{% block header %}Строевые записки{% endblock  %}
{% block content %}
{% load thumbnail %}

<h1>Курсовые строевки</h1>
{% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    {% if post.group %}   
      <a href="{% url 'posts:group_posts' post.group.slug %}">
        все записи группы {{post.group.title}}
      </a>
    {% endif %}
    <ul>
      <li>Автор: {{ post.author.get_full_name }}</li>
      <li>Дата публикации: {{ post.pub_date|date:'d E Y' }}</li>
      <li>Название: {{ post.name }}</li>
    </ul>
    
    <table align="center" class="table table-bordered">
      <caption>Курсовая строевка {{post.name}} </caption>
      <thead align="center">
        <tr>
          <th scope="col" rowspan="2"></th>
          <th scope="col" rowspan="2">По списку</th>
          <th scope="col" rowspan="2">На лицо </th>
          <th scope="col" rowspan="2" >Отсуствуют</th>
          <th scope="col" colspan="7" >Причина отсутствия</th>
        </tr>
        <tr>
          <th scope="col">Больные</th>
          <th scope="col">Наряд</th>
          <th scope="col">Командировка</th>
          <th scope="col">Отпуск</th>
          <th scope="col" >Спорт</th>
          <th scope="col" >Практика</th>
          <th scope="col" >Рапорт</th>
        </tr>
      </thead>
        <tbody align="center">
        <tr>
          <th scope="row">Итого</th>
          <td>{{post.on_list}}</td>
          <td>{{post.on_list_fact}}</td>
          <td>{{post.sport}}</td>
          <td>{{post.komandirovka}}</td>
          <td>{{post.bolinoy}}</td>
          <td>{{post.otpusk}}</td>
          <td>{{post.praktika}}</td>
          <td>{{post.raport}}</td>
          <td>{{post.on_list}}</td>
          <td>{{post.on_list}}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-sm-3">
      <iframe height="500" width="1880" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-6SgVedB8mtX0OjcsAnwLkZK_qwb7O7WRyscxcn9zgBII5fP_KUOOf-NpnUVhFZ_qhy91rZiC3aIu/pubhtml?gid=2112834994&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div> 
    {% if not forloop.last %}
      <hr size="5" />
    {% else %}
      <hr size="3"/>
    {% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}